<%- include('partials/header.ejs')  %>

    <div class=" mt-4 md:h-[86vh] w-screen flex gap-4 justify-center md:justify-evenly items-start min-[900px]:items-center px-12">
        <div class="flex flex-col gap-5">
            <div class="flex justify-between items-center">
                <p class="text-lg">Dashboards</p>
                <div class="flex relative items-center">
                    <P class="text-lg"><%= option  %></P>
                    <box-icon name='chevron-down' class="cursor-pointer" id="drop"></box-icon>
                    <div class="absolute top-8 right-0 bg-white shadow-2xl border-1 border-gray-100 rounded-lg w-36 flex flex-col gap-2 p-1 dropdownDiv">
                        <a href="/dashboard/facebook"><p class="hover:bg-gray-200 px-1 <%= option === 'Facebook'? 'bg-gray-200': ''  %> rounded-md cursor-pointer">Facebook</p></a>
                        <a href="/dashboard/linkedin"><p class="hover:bg-gray-200 px-1 <%= option === 'LinkedIn'? 'bg-gray-200': ''  %> rounded-md cursor-pointer">LinkedIn</p></a>
                        <a href="/dashboard/instagram"><p class="hover:bg-gray-200 px-1 <%= option === 'Instagram'? 'bg-gray-200': ''  %> rounded-md cursor-pointer">Instagram</p></a>
                        <a href="/dashboard/x"><p class="hover:bg-gray-200 px-1 <%= option === 'X'? 'bg-gray-200': ''  %> rounded-md cursor-pointer">X</p></a>    
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 min-[900px]:grid-cols-4 grid-rows-2 min-[900px]:grid-rows-1 gap-5 shrink-0">
                <div class="bg-white rounded-md border-1 shadow-md h-10">1</div>
                <div class="bg-white rounded-md border-1 shadow-md">2</div>
                <div class="bg-white rounded-md border-1 shadow-md">3</div>
                <div class="bg-white rounded-md border-1 shadow-md">4</div>
            </div>
            <div class="grid grid-cols-2 grid-rows-4 min-[900px]:grid-rows-2  gap-5 min-[900px]:grid-cols-4 min-[900px]:w-[900px] w-[400px] min-[900px]:h-[500px] shrink-0">
                <div class="bg-white rounded-md border-1 shadow-md col-span-2 h-[200px] min-[900px]:h-auto">
                    <canvas id="myChart" width="800" height="400"></canvas>
                </div>
                <div class="bg-white rounded-md border-1 shadow-md ">
                </div>
                <div class="bg-white rounded-md border-1 shadow-md">Top content</div>
                <div class="bg-white rounded-md border-1 shadow-md col-span-2">Audience location</div>
                <div class="bg-white rounded-md border-1 shadow-md">Gender distribution</div>
                <div class="bg-white rounded-md border-1 shadow-md">Age distribution</div>
            </div>
        </div>
        
    </div>
    
<%- include('partials/footer.ejs')  %>