<%- include('partials/header.ejs')  %>

    <div class="flex flex-col items-center justify-start w-sreen">
        <div class="flex items-center justify-start gap-4 mt-8 mb-4 h-14 pl-3 bg-white rounded-md w-[500px]">
            <a href="/notifications">
                <p class="py-1 px-4 rounded-lg hover:bg-blue-500 hover:text-white hover:cursor-pointer <%= filter === 'all'? 'bg-blue-500 text-white' : 'bg-gray-100'  %>">All</p>
            </a>
            <a href="/notifications/facebook">
                <p class=" py-1 px-4 rounded-lg hover:bg-blue-500 hover:text-white hover:cursor-pointer <%= filter === 'facebook'? 'bg-blue-500 text-white' : 'bg-gray-100'  %>">Facebook</p>
            </a>
            <a href="/notifications/linkedin">
                <p class="py-1 px-4 rounded-lg hover:bg-blue-500 hover:text-white hover:cursor-pointer <%= filter === 'linkedin'? 'bg-blue-500 text-white' : 'bg-gray-100'  %>">LinkedIn</p>
            </a>
            <a href="/notifications/instagram">
                <p class="py-1 px-4 rounded-lg hover:bg-blue-500 hover:text-white hover:cursor-pointer <%= filter === 'instagram'? 'bg-blue-500 text-white' : 'bg-gray-100'  %>">Instagram</p>
            </a>
            <a href="/notifications/x">
                <p class="py-1 px-4 rounded-lg hover:bg-blue-500 hover:text-white hover:cursor-pointer <%= filter === 'x'? 'bg-blue-500 text-white' : 'bg-gray-100'  %>">X</p>
            </a>
        </div>
        <div class="flex items-center justify-center gap-3 w-[500px] bg-white rounded-t-md hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>

        <div class="flex items-center justify-center gap-3 w-[500px] bg-white hover:cursor-pointer hover:bg-gray-100 pb-2">
            <box-icon type='solid' name='user-circle' color="#4b5563" size='lg' class="cursor-pointer"></box-icon>
            <p class="w-[80%]">
                Lorem ipsum dolor sit amet, consectetur adipisci elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </p>
            <div class="flex flex-col justify-center items-center">
                <p>2h</p>
                <p>...</p>
            </div>
        </div>
    </div>

    </div>

    
    
<%- include('partials/footer.ejs')  %>